<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>table</title>
  </head>
  <body>
    <div class="container">
      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">日付</th>
            <th scope="col">出勤時刻</th>
            <th scope="col">退勤時刻</th>
            <th scope="col">差(h)</th>
          </tr>
        </thead>
        <tbody>
          <%- elem %>
        </tbody>
      </table>
    </div>
  </body>
</html>